@import "tailwindcss";

[data-barba="wrapper"] {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
  }
  
  [data-barba="container"] {
    position: relative; /* Changed from absolute to relative */
    width: 100%;
    will-change: transform, opacity;
    min-height: 100vh;
  }
  
  body {
    background-color: zinc-900;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  appkit-button {
    --appkit-bg: #10b981;
    --appkit-color: white;
    --appkit-border-radius: 8px;
  }
  